@use "rootVariables.scss" as *;

$normalHeight: 50px;

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    color: $fg-color;
}

#frame{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#scores{
    width: 100%;
    height: auto;
}

#scores thead{
    width: 100%;
    position: sticky;
    top: 0px;
    height: 100px;
    z-index: 10;
}

#scores tbody{
    width: 100%;
    height: auto;
}

#scores tbody tr{
    width: 100%;
    height: $normalHeight;
}

.best{
    background-color: $best-color;
    color: $bg-color;
    height: $normalHeight*1.5 !important;
}

.second{
    background-color: $second-best-color;
    color: $bg-color;
    height: $normalHeight*1.3 !important;
}

.third{
    background-color: $third-best-color;
    color: $fg-color;
    height: $normalHeight*1.1 !important;
}

#back{
    position: absolute;
    height: 40px;
    display: flex;
    font-size: 30px;
    font-weight: 900;
    padding: 10px;
    padding-right: 15px;
    z-index: 20;
    border-radius: 10px;
}

#back p{
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
}

#back .tip{
    letter-spacing: -15px;
}

#back .tip p{
    font-size: 40px;
}

#back .tale{
    letter-spacing: -5px;
}