@use "./rootVariables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,400;0,900;1,300&display=swap');

html, body{
    width: 100%;
    overflow: hidden;
}

*{
    font-weight: 400;
    font-family: 'Saira', sans-serif;
}

.title{
    color: $fg-color;
    text-align: center;
    font-size: 50px;
}

#timeTable{
    width: 90% !important;    
    margin: auto;
    margin-top: 50px;
}

#timeTable thead{
    background-color: $bg-color;
    width: 100%;
    color: $fg-color;
    font-size: 30px;
    text-decoration: underline;
    position: sticky;
    top: 0px;
    z-index: 0;
}

#time{
    width: 50%;
}

#curves{
    width: 50%;
}

#timeTable tbody{
    width: 100%;
    font-size: 70px;
}

#timeTable tbody tr{
    width: 100%;
    text-align: center;
    height: 60px;
}

#frame{
    width: 100%;
    height: auto;
    max-height: 70%;
    min-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}

.penalty{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 0px 25px 8px rgba(255, 0, 0, 0.5) inset;
    -moz-box-shadow: 0px 0px 25px 8px rgba(255, 0, 0, 0.5) inset;
    box-shadow: inset 0px 0px 25px 8px rgba(255, 0, 0, 0.5);
    color: darken($fg-color, 30%) !important;
}

.normal{
    color: darken($fg-color, 30%) !important;
}

span{
    font-size: 20px;
}

#timeTaken, #avgReactionTime, #penaltyTime, #penaltyCount{
    margin: 5px;
}

#left{
    position: fixed;
    display: grid;
    top: 20px;
    left: 20px;
    width: 50%;
    height: auto;
    color: $fg-color;
    transform-origin: 0% 10%;
    transform: rotate(10deg);
    z-index: 10;
}

#right{
    position: fixed;
    display: grid;
    top: 20px;
    right: 0px;
    width: 50%;
    height: auto;
    justify-items: end;
    color: $fg-color;
    
    transform-origin: 100% 90%;
    transform: rotate(-10deg);  
    z-index: 10;
}

#left div, #right div{
    display: flex;
}

summary{
    color: white;
}

details{
    display: none;
    transition: height 1.2s ease;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    list-style: none;
    height: 20px; 
    cursor: pointer;

    &>summary::marker, &>summary::-webkit-details-marker{
        content: '';
        display: none;
    }
}

details[open]{
    transition: height 1.2s ease;
    height: 100px;
    background-color: lighten($bg-color, 10%);

    &>summary{
        margin-bottom: 20px;
    }
}

.right{
    text-align: center;
    justify-self: end;
    float: right;
}

.left{
    text-align: center;
    float: left;
    position: sticky;
    left: 0;
}

.center{
    text-align: center;
    margin: auto;
}

.name{
    font-size: 20px;
}

#timeTaken, #avgReactionTime, #penaltyTime, #penaltyCount{
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lighten($bg-color, 10%);
    width: 300px;
    position: relative;
    min-height: 63px;
}

#timeTaken::after,
#avgReactionTime::after {
  content: "";
  height: 0px;
  position: absolute;
  top: 0px;
  left: 100%;
  transform: translateX(calc(-100% + 2px)) translateY(0px);

  border-top: 36px solid transparent;
  border-bottom: 38px solid transparent;
  border-left: 0px solid transparent;
  border-right: 40px solid $bg-color;
  z-index: 10;
}

#penaltyTime::before,
#penaltyCount::before {
  content: "";
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateY(0px) translateX(-2px) rotate(180deg);

  border-top: 36px solid transparent;
  border-bottom: 38px solid transparent;
  border-left: 0px solid transparent;
  border-right: 40px solid $bg-color;
  z-index: 10;
}

#timeTaken::before,
#avgReactionTime::before{
    $darkColor: rgb(79, 44, 25);
    $lightColor: darken($darkColor, 15%);
    content: "";
    height: 500%;
    width: 10px;
    position: absolute;
    top: 0px;
    left: 0%;
    border-color: transparent $lightColor transparent transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: translateX(-50%);
    background: linear-gradient(to right, $lightColor, $darkColor, $lightColor);
    z-index: 5;
}

#penaltyTime::after,
#penaltyCount::after{
    $darkColor: rgb(79, 44, 25);
    $lightColor: darken($darkColor, 15%);
    content: "";
    height: 500%;
    width: 10px;
    position: absolute;
    top: 0px;
    right: 0%;
    border-color: transparent $lightColor transparent transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: translateX(50%);
    background: linear-gradient(to right, $lightColor, $darkColor, $lightColor);
    z-index: 5;
}

#newGameDialog{
    width: 80%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lighten($bg-color, 5%);
    color: $fg-color;
    border: 2px solid lighten($bg-color, 15%);
    border-radius: 10px;
    padding: 20px;
    transition: scale 0.4s linear;
    z-index: 20;
}

#name{
    width: calc(100% - 90px);
    height: 50px;
    font-size: 30px;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    background-color: lighten($bg-color, 10%);
    color: $fg-color;
    border: 2px solid lighten($bg-color, 20%);
    border-radius: 10px;
    color: darken($fg-color, 30%);
}

label[for="name"]{
    content: 'Name: ';
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 10px;
    align-self: center;
    font-size: 35px;
    transform: translateY(-30%);
    color: white;
}

#nameField{
    display: flex;
    width: calc(100% - 40px);
    height: auto;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    // background-color: red;
}

#close{
    color: $fg-color;
    font-size: 40px;
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 10px;
    top: 10px;
}

#close:hover{
    color: darken($fg-color, 30%);
}

#close:active{
    transform: scale(0.97) rotate(45deg);
}

#newGameBtn{
    cursor: pointer;
    width: 250px;
    height: 70px;
    font-size: 25px;
    padding: 0px;
    color: darken($fg-color, 30%);
    background-color: lighten($bg-color, 10%);
    border: 2px solid lighten($bg-color, 20%);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

#newGameBtn:hover{
    color: $fg-color;
    background-color: lighten($bg-color, 20%);
}

#newGameBtn:active{
    transform: scale(0.97);
}

#scores{
    cursor: pointer;
    width: 250px;
    height: 70px;
    font-size: 25px;
    padding: 0px;
    color: darken($fg-color, 30%);
    background-color: lighten($bg-color, 10%);
    border: 2px solid lighten($bg-color, 20%);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 290px;
    z-index: 100;
}

#scores:hover{
    color: $fg-color;
    background-color: lighten($bg-color, 20%);
}

#scores:active{
    transform: scale(0.97);
}

#start{
    position: absolute;
    bottom: 20px;

    margin-top: 50px;
    width: calc(100% - 40px);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: $fg-color;
    background-color: lighten($bg-color, 10%);
    border: 2px solid lighten($bg-color, 20%);
    border-radius: 10px;
    cursor: pointer;
}

#start:hover{
    color: darken($fg-color, 30%);
    background-color: lighten($bg-color, 20%);
}

#start:active{
    transform: scale(0.97);
}

#generateNewName{
    width: 25%;
    height: 40px;
    display: flex;
    float: right;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: $fg-color;
    background-color: lighten($bg-color, 10%);
    border: 2px solid lighten($bg-color, 20%);
    border-radius: 10px;
    cursor: pointer;
}

#generateNewName:hover{
    color: darken($fg-color, 30%);
    background-color: lighten($bg-color, 20%);
}

#generateNewName:active{
    transform: scale(0.98);
}

#placeBanner{
    position: fixed;
    height: 50%;
    top: 50%;
    left: 0px;
    width: 100%;
    transform: translateY(-50%);
    background-color: $otherPlaceColor;
    z-index: 1000;
}

#placeBanner::after{
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: darken($otherPlaceColor, 15%);
    opacity: 0.6;
    width: 100%;
    height: 50%;
    transform: translateY(-100%);
    z-index: 1000;
}

#placeBanner::before{
    content: "";
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: darken($otherPlaceColor, 15%);
    opacity: 0.6;
    width: 100%;
    height: 50%;
    transform: translateY(100%);
    z-index: 1000;
}

#place{
    display: flex;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    font-size: 70px;
    font-weight: 900;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Saira', sans-serif;
}

#spacerForScore{
    width: 100%;
    height: 70%;
    position: relative;
}

#score{
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

#minimal{
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

#placeBanner:not(.first, .second, .third){
    color: white;
}

#placeBanner.first, #placeBanner.second, #placeBanner.third{
    color: black;
}

#placeBanner.first{
    background-color: $best-color;
}

#placeBanner.first::after{
    background-color: darken($best-color, 15%);
}

#placeBanner.first::before{
    background-color: darken($best-color, 15%);
}

#placeBanner.second{
    background-color: $second-best-color;
}

#placeBanner.second::after{
    background-color: darken($second-best-color, 15%);
}

#placeBanner.second::before{
    background-color: darken($second-best-color, 15%);
}

#placeBanner.third{
    background-color: $third-best-color;
}

#placeBanner.third::after{
    background-color: darken($third-best-color, 15%);
}

#placeBanner.third::before{
    background-color: darken($third-best-color, 15%);
}

#placeBanner.show{
    animation: fadeIn 0.5s ease forwards;
}

#placeBanner:not(.show){
    animation: fadOut 0.5s ease forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        z-index: -1;
    }
    to{
        opacity: 1;
        z-index: 1000;
    }
}

@keyframes fadOut {
    from{
        opacity: 1;
        z-index: 1000;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}